<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col correctPadding">
        <div class="promoted-box">
          <div class="hot-deals">
            <div class="hot-deals-header"><p>HOT DEALS</p></div>
            <div class="hot-deals-carousel">
              <div class="carousel-cell images">
                <img src="./images/fotel_01.jpg" />
                <div class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                  <p>ADD TO CART</p>
                </div>
                <div class="counter row">
                  <div class="circle">
                    <h4>25</h4>
                    <h6>DAYS</h6>
                  </div>
                  <div class="circle">
                    <h4>10</h4>
                    <h6>HRS</h6>
                  </div>
                  <div class="circle">
                    <h4>45</h4>
                    <h6>MINS</h6>
                  </div>
                  <div class="circle">
                    <h4>30</h4>
                    <h6>SECS</h6>
                  </div>
                </div>
                <div class="info">
                  <p class="title text-center">Aenean Ru Bristique</p>
                  <div class="stars-line row">
                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    <i class="far fa-star"></i> <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="line"></div>
                  <div class="price-line">
                    <div class="icons col-5">
                      <div class="icon-box"><i class="far fa-eye"></i></div>
                      <div class="icon-box"><i class="far fa-heart"></i></div>
                      <div class="icon-box"><i class="fas fa-exchange-alt"></i></div>
                    </div>
                    <div class="prices col-7">
                      <h6>$350.00</h6>
                      <div class="actual-price"><h6>$300.00</h6></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell images">
                <img src="./images/fotel_02.jpg" />
                <div class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                  <p>ADD TO CART</p>
                </div>
                <div class="counter row">
                  <div class="circle">
                    <h4>15</h4>
                    <h6>DAYS</h6>
                  </div>
                  <div class="circle">
                    <h4>7</h4>
                    <h6>HRS</h6>
                  </div>
                  <div class="circle">
                    <h4>25</h4>
                    <h6>MINS</h6>
                  </div>
                  <div class="circle">
                    <h4>20</h4>
                    <h6>SECS</h6>
                  </div>
                </div>
                <div class="info">
                  <p class="title text-center">Duis aute irure dolor</p>
                  <div class="stars-line row">
                    <i class="fas fa-star"></i> <i class="far fa-star"></i>
                    <i class="far fa-star"></i> <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="line"></div>
                  <div class="price-line">
                    <div class="icons col-5">
                      <div class="icon-box"><i class="far fa-eye"></i></div>
                      <div class="icon-box"><i class="far fa-heart"></i></div>
                      <div class="icon-box"><i class="fas fa-exchange-alt"></i></div>
                    </div>
                    <div class="prices col-7">
                      <h6>$279.00</h6>
                      <div class="actual-price"><h6>$219.00</h6></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell images">
                <img src="./images/fotel_03.jpg" />
                <div class="add-to-cart">
                  <i class="fas fa-shopping-basket"></i>
                  <p>ADD TO CART</p>
                </div>
                <div class="counter row">
                  <div class="circle">
                    <h4>21</h4>
                    <h6>DAYS</h6>
                  </div>
                  <div class="circle">
                    <h4>14</h4>
                    <h6>HRS</h6>
                  </div>
                  <div class="circle">
                    <h4>18</h4>
                    <h6>MINS</h6>
                  </div>
                  <div class="circle">
                    <h4>49</h4>
                    <h6>SECS</h6>
                  </div>
                </div>
                <div class="info">
                  <p class="title text-center">Nor again is there</p>
                  <div class="stars-line row">
                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="line"></div>
                  <div class="price-line">
                    <div class="icons col-5">
                      <div class="icon-box"><i class="far fa-eye"></i></div>
                      <div class="icon-box"><i class="far fa-heart"></i></div>
                      <div class="icon-box"><i class="fas fa-exchange-alt"></i></div>
                    </div>
                    <div class="prices col-7">
                      <h6>$559.00</h6>
                      <div class="actual-price"><h6>$499.00</h6></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="highlighted-product">
            <div class="products-carousel">
              <div class="carousel-cell">
                <img src="./images/sofa.jpg" alt="sorry..." />
              </div>
              <div class="carousel-cell">
                <img src="./images/jadalnia.jpg" alt="sorry..." />
              </div>
              <div class="carousel-cell">
                <img src="./images/sypialnia.jpg" alt="sorry..." />
              </div>
            </div>
            <div class="title"></div>
            <h1>INDOOR</h1>
            <h1 class="second">FURNITURE</h1>
            <h3 class="third">SAVE UP TO 50% OF ALL FURNITURE</h3>
            <button class="shop-now">SHOP NOW</button>
            <div class="navi-buttons">
              <button class="arrow-left arrow"><</button>
              <button class="arrow-right arrow">></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
