<div class="section--deals">
  <div class="container">
    <div class="row ">
      <div class="col-xl-6 col-sm-12 col-lg-6">
        <div class="hero-deal">
          <div class="overlay">
            <div class="overlay-text">
              <h3>Guest room</h3>
              <h2>bed</h2>
              <div class="discount">-20%</div>
            </div>
          </div>
          <img class="bigImg" src="./images/sypialnia.jpg" alt="sorry..." />
        </div>
      </div>
      <div class="col-xl-6 col-sm-12 col-lg-6">
        <div class="collections">
          <img src="./images/sofa.jpg" alt="sorry..." />
          <img src="./images/jadalnia.jpg" alt="sorry..." />
        </div>
      </div>
    </div>
  </div>
</div>
