<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading">
              <h3>Gallery</h3>
            </div>
            <div class="col"></div>
          </div>
        </div>

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active"
              id="nav-home-tab"
              data-toggle="tab"
              href="#nav-home"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
              >Home</a
            >
            <a
              class="nav-item nav-link"
              id="nav-profile-tab"
              data-toggle="tab"
              href="#nav-profile"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
              >Profile</a
            >
            <a
              class="nav-item nav-link"
              id="nav-contact-tab"
              data-toggle="tab"
              href="#nav-contact"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
              >Contact</a
            >
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <div class="product-box">
              <div class="photo pic-3">
                <div class="sale">sale</div>
                <div class="buttons">
                  <a href="#" class="btn-main-small">Quick View</a>
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            <div class="product-box">
              <div class="photo pic-3">
                <div class="sale">sale</div>
                <div class="buttons">
                  <a href="#" class="btn-main-small">Quick View</a>
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-contact"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            <div class="product-box">
              <div class="photo pic-3">
                <div class="sale">sale</div>
                <div class="buttons">
                  <a href="#" class="btn-main-small">Quick View</a>
                  <a href="#" class="btn-main-small"
                    ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                  >
                </div>
              </div>
              <div class="content">
                <h5>Aenean Ru Bristique</h5>
                <div class="stars">
                  <a href="#" class="full"></a> <a href="#" class="full"></a>
                  <a href="#"></a> <a href="#"></a> <a href="#"></a>
                </div>
              </div>
              <div class="line"></div>
              <div class="actions">
                <div class="outlines">
                  <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                  <a href="#" class="btn-outline active"
                    ><i class="fas fa-exchange-alt"></i
                  ></a>
                </div>
                <div class="price">
                  <div class="btn-main-small no-hover">$ 30.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="featured-gallery-image">
          <div>
            <p>from<span>$50.80</span></p>
            <h3>Bedroom Bed</h3>
            <button class="btn btn-success">
              shop now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
