<div class="section--gallery">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading">
              <h3>Gallery</h3>
            </div>
            <div class="col"></div>
          </div>
        </div>

        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active"
              id="nav-home-tab"
              data-toggle="tab"
              href="#nav-home"
              role="tab"
              aria-controls="nav-home"
              aria-selected="true"
              >Featured</a
            >
            <a
              class="nav-item nav-link"
              id="nav-profile-tab"
              data-toggle="tab"
              href="#nav-profile"
              role="tab"
              aria-controls="nav-profile"
              aria-selected="false"
              >Top Seller</a
            >
            <a
              class="nav-item nav-link"
              id="nav-contact-tab"
              data-toggle="tab"
              href="#nav-contact"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
              >Sale off</a
            >
            <a
              class="nav-item nav-link"
              id="nav-toprated-tab"
              data-toggle="tab"
              href="#nav-toprated"
              role="tab"
              aria-controls="nav-contact"
              aria-selected="false"
              >Sale off</a
            >
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-home"
            role="tabpanel"
            aria-labelledby="nav-home-tab"
          >
            <script id="template-slide-list" type="x-tmpl-mustache">
              <div class="carousel-cell" id="{{ id }}" >
                  <div class="container">
                      <img src={{ src }}>
                  </div>
              </div>
            </script>

            <script id="template-slide-list-expanded" type="x-tmpl-mustache">
              <div class="carousel-cell" id="{{ id }}" >
                  <div class="static-banner static-banner1">
                      <div class="actions">
                        <div class="outlines">
                          <div class="icon-box">
                            <a href="#" class="btn-outline custom-tooltip">
                              <i class="far fa-eye"></i>
                              <span class="tooltiptext tooltip-right">Add to watched</span>
                            </a></div>
                          <div class="icon-box">
                            <a href="#" class="btn-outline custom-tooltip"><i class="far fa-heart"></i><span class="tooltiptext tooltip-right">Add to favs</span></a></div>
                          <div class="icon-box">
                            <a href="#" class="btn-outline custom-tooltip"><i class="fas fa-exchange-alt"></i><span class="tooltiptext tooltip-right">Add to compare</span></a></div>
                          <div class="icon-box">
                            <a href="#" class="btn-outline custom-tooltip"><i class="fas fa-shopping-basket"></i><span class="tooltiptext tooltip-right">Add to cart</span></a></div>
                        </div>
                      </div>
                  </div>
                  <div class="static-banner static-banner2">
                    <div class="content">
                      <h5> {{name}} </h5>
                      <div class="stars">
                        <a href="#" class="full"></a> <a href="#" class="full"></a>
                        <a href="#"></a> <a href="#"></a> <a href="#"></a>
                      </div>
                      <div class="priceCircle"><p>${{promo}}</p><span>${{price}}</span></div>
                      <div class="triangleLeft"></div>
                      <div class="triangleRight"></div>
                    </div>
                  </div>

                  <img src={{ src }} alt/>
              </div>
            </script>

            <div class="galleryWrapper">
              <div class="displayGallery">
                <div class="main-carousel2" id="slidesContainer2">
                  <!-- slides goes here -->
                </div>
              </div>

              <div class="navGallery">
                <div class="main-carousel" id="slidesContainer">
                  <!-- slides goes here -->
                </div>

                <button
                  class="button button--next flickity-button flickity-prev-next-button next"
                  type="button"
                  aria-label="Next"
                >
                  <svg class="flickity-button-icon" viewBox="0 0 100 100">
                    <path
                      d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                      class="arrow"
                      transform="translate(100, 100) rotate(180) "
                    ></path>
                  </svg>
                </button>
                <button
                  class="button--previous flickity-button flickity-prev-next-button previous"
                  type="button"
                  aria-label="Previous"
                >
                  <svg class="flickity-button-icon" viewBox="0 0 100 100">
                    <path
                      d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                      class="arrow"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-profile"
            role="tabpanel"
            aria-labelledby="nav-profile-tab"
          >
            <p>placeholder</p>
          </div>
          <div
            class="tab-pane fade"
            id="nav-contact"
            role="tabpanel"
            aria-labelledby="nav-contact-tab"
          >
            <p>placeholder</p>
          </div>
          <div
            class="tab-pane fade"
            id="nav-toprated"
            role="tabpanel"
            aria-labelledby="nav-toprated-tab"
          >
            <p>placeholder</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div id="featured-gallery-image">
          <div>
            <p>from<span>$50.80</span></p>
            <p id="featuredTitle">Bedroom Bed</p>
            <button class="btn btn-success">
              shop now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
