<div class="section--brands">
  <div class="container brands">
    <div class="row">
      <div class="col-12 brands-container">
        <button class="brands-arrow"><i class="fas fa-angle-left"></i></button>
        <div class="images-brands brand-1"></div>
        <div class="images-brands brand-2"></div>
        <div class="images-brands brand-3"></div>
        <div class="images-brands brand-4"></div>
        <div class="images-brands brand-5"></div>
        <div class="images-brands brand-6"></div>
        <button class="brands-arrow"><i class="fas fa-angle-right"></i></button>
      </div>
    </div>
  </div>
</div>
