<div class="section--feedback">
  <div class="container">
    <div class="feedback-title">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client Feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-content">
      <div class="feedback-quote-img">
        <img src="./images/quote.gif" alt="quote example" />
      </div>
      <div class="quote-text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium
          laudantium deserunt, non quaerat nostrum omnis, tempore veritatis recusandae
          quae, ratione veniam dolor aliquid tenetur ab doloribus rerum? Aliquid,
          qui.Ipsa obcaecati, quae delectus debitis explicabo dolorum nam veniam
          temporibus reiciendis autem voluptatum quam, distinctio alias natus similique
          totam error, nisi minima iure doloremque corporis. Accusantium, suscipit est!
          Facere, consequatur.
        </p>
        <div class="feedback-profile">
          <img src="./images/man.png" alt="man comment" />
          <div class="feedback-profile-text">
            <h5>Johny Smith</h5>
            <p>The best client</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
