header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;

      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim-mobile {
    display: none;
  }

  .company-claim,
  .company-claim-mobile {
    background-color: $header-bg;

    img {
      padding-bottom: 14px;
    }

    .container > .row {
      height: 145px;
    }

    .phone-number {
      padding-right: 10px;

      p {
        margin: 0;
        font-size: 14px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cart-box {
        display: flex;
        justify-content: flex-end;
        color: #ffffff;
        text-decoration: none;

        .box-line {
          display: flex;
          align-items: center;

          .cart-icon {
            background-color: $primary;
            width: 55px;
            height: 50px;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            position: relative;
            left: 10px;

            i {
              margin-right: 5px;
            }
          }

          .cart-counter {
            height: 27px;
            border-radius: 14px;
            background-color: $header-bg;
            display: flex;
            align-items: center;
            font-size: 14px;
            color: rgb(224, 227, 237);
            padding: 0 10px;
            position: relative;
          }

          &:hover {
            .cart-icon {
              background-color: lighten($primary, 10%);
            }
          }
        }
      }
    }
  }

  .menu-bar,
  .menu-bar-tablet,
  .menu-bar-mobile {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: #dea55c;
          color: #ffffff;
        }

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: none;
          background-color: transparent;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
          cursor: pointer;

          &:hover {
            color: #ffffff;
          }

          &:focus {
            outline: none;
          }

          option {
            background-color: #dea55c;
            color: #ffffff;
          }
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}

.menu-bar-tablet {
  display: none;
}
.menu-bar-mobile {
  display: none;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: $header-topbar-bg;
  display: none;
  z-index: 9999;

  ul {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    a {
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.icon-hamburger {
  fill: $primary;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.icon-hamburger-toggle {
  fill: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.active {
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .menu-bar {
    display: none;
  }
  .menu-bar-tablet {
    display: block;
    .container {
      height: 115px;
      text-align: center;
      .align-items-center {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .top-bar {
      div {
        div {
          div {
            display: flex;
            padding: 0;
            flex-basis: auto;

            &:first-child {
              width: 60%;
              padding-left: 10px;
              justify-content: flex-start;
            }

            &:last-child {
              width: 40%;
              justify-content: flex-end;
              padding-right: 10px;
            }

            .icon-label {
              display: none;
            }
          }
        }
      }
    }

    .company-claim {
      display: none;
    }

    .company-claim-mobile {
      display: block;
    }
  }

  .menu-bar {
    display: none;
  }
  .menu-bar-mobile {
    display: block;
    .container {
      text-align: center;
    }
  }
}