.post-box {
  margin-bottom: 2rem;

  .cover {
    padding: 70% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .article-1 {
    background-image: url("../images/blog1.jpg");
  }

  .article-2 {
    background-image: url("../images/blog2.jpg");
  }

  .article-3 {
    background-image: url("../images/blog3.jpg");
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }
}
