.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;

    background: {
      color: #f4f5f7;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    background-size: cover;
    background-position: center;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
    }
  }

  &:hover {
    .buttons {
      visibility: visible;
    }

    .price {
      .btn-main-small {
        margin: 0;
        color: #fff;
        background-color: $primary;
        text-decoration: none;
      }

      .old-price {
        text-decoration: line-through;
        background-color: #2a2a2a;
      }
    }
  }

  .pic-1 {
    background-image: url("../images/product01.jpg");
  }

  .pic-2 {
    background-image: url("../images/product02.jpg");
  }

  .pic-3 {
    background-image: url("../images/product03.jpg");
  }

  .pic-4 {
    background-image: url("../images/product04.jpg");
  }

  .pic-5 {
    background-image: url("../images/product05.jpg");
  }

  .pic-6 {
    background-image: url("../images/product06.jpg");
  }

  .pic-7 {
    background-image: url("../images/product07.jpg");
  }

  .pic-8 {
    background-image: url("../images/product08.jpg");
  }

  .old-price {
    text-decoration: line-through;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;
        &.star.is-active,
        &.star-rated {
          color: #d58e32;
          @extend .full;
        }
        &.full {
          @extend .fas;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
