.product-box {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;

    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }

    overflow: hidden;
    background-size: 263px 261px;
    background-position: center;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
    }
  }

  &:hover {
    .buttons {
      visibility: visible;
    }

    .price {
      .btn-main-small {
        margin: 0;
        color: #fff;
        background-color: $primary;
        text-decoration: none;
      }

      .old-price {
        text-decoration: line-through;
        background-color: #2a2a2a;
      }
    }
  }

  .pic-1 {
    background-image: url("../images/product01.jpg");
  }

  .pic-2 {
    background-image: url("../images/product02.jpg");
  }

  .pic-3 {
    background-image: url("../images/product03.jpg");
  }

  .pic-4 {
    background-image: url("../images/product04.jpg");
  }

  .pic-5 {
    background-image: url("../images/product05.jpg");
  }

  .pic-6 {
    background-image: url("../images/product06.jpg");
  }

  .pic-7 {
    background-image: url("../images/product07.jpg");
  }

  .pic-8 {
    background-image: url("../images/product08.jpg");
  }

  .pic-9 {
    background-image: url("../images/chair-1.jpg");
  }

  .pic-10 {
    background-image: url("../images/chair-2.jpg");
  }

  .pic-11 {
    background-image: url("../images/chair-3.jpg");
  }

  .pic-12 {
    background-image: url("../images/chair-4.jpg");
  }

  .pic-13 {
    background-image: url("../images/chair-5.jpg");
  }

  .pic-14 {
    background-image: url("../images/chair-6.jpg");
  }

  .pic-15 {
    background-image: url("../images/chair-7.jpg");
  }

  .pic-16 {
    background-image: url("../images/chair-8.jpg");
  }

  .pic-17 {
    background-image: url("../images/chair-9.jpg");
  }

  .pic-18 {
    background-image: url("../images/chair-10.jpg");
  }

  .pic-19 {
    background-image: url("../images/chair-11.jpg");
  }

  .pic-20 {
    background-image: url("../images/chair-12.jpg");
  }

  .pic-21 {
    background-image: url("../images/chair-13.jpg");
  }

  .pic-22 {
    background-image: url("../images/chair-14.jpg");
  }

  .pic-23 {
    background-image: url("../images/chair-15.jpg");
  }

  .pic-24 {
    background-image: url("../images/chair-16.jpg");
  }

  .pic-25 {
    background-image: url("../images/chair-17.jpg");
  }

  .pic-26 {
    background-image: url("../images/sofa-1.jpg");
  }

  .pic-27 {
    background-image: url("../images/sofa-2.jpg");
  }

  .pic-28 {
    background-image: url("../images/sofa-3.jpg");
  }

  .pic-29 {
    background-image: url("../images/sofa-4.jpg");
  }

  .pic-30 {
    background-image: url("../images/sofa-5.jpg");
  }

  .pic-31 {
    background-image: url("../images/sofa-6.jpg");
  }

  .pic-32 {
    background-image: url("../images/sofa-7.jpg");
  }

  .pic-33 {
    background-image: url("../images/sofa-8.jpg");
  }

  .pic-34 {
    background-image: url("../images/sofa-9.jpg");
  }

  .pic-35 {
    background-image: url("../images/sofa-10.jpg");
  }

  .pic-36 {
    background-image: url("../images/sofa-11.jpg");
  }

  .pic-37 {
    background-image: url("../images/sofa-12.jpg");
  }

  .pic-38 {
    background-image: url("../images/sofa-13.jpg");
  }

  .pic-39 {
    background-image: url("../images/sofa-14.jpg");
  }

  .pic-40 {
    background-image: url("../images/sofa-15.jpg");
  }

  .pic-41 {
    background-image: url("../images/sofa-16.jpg");
  }

  .pic-42 {
    background-image: url("../images/sofa-17.jpg");
  }

  .pic-43 {
    background-image: url("../images/table-1.jpg");
  }

  .pic-44 {
    background-image: url("../images/table-2.jpg");
  }

  .pic-45 {
    background-image: url("../images/table-3.jpg");
  }

  .pic-46 {
    background-image: url("../images/table-4.jpg");
  }

  .pic-47 {
    background-image: url("../images/table-5.jpg");
  }

  .pic-48 {
    background-image: url("../images/table-6.jpg");
  }

  .pic-49 {
    background-image: url("../images/table-7.jpg");
  }

  .pic-50 {
    background-image: url("../images/table-8.jpg");
  }

  .pic-51 {
    background-image: url("../images/table-9.jpg");
  }

  .pic-52 {
    background-image: url("../images/table-10.jpg");
  }

  .pic-53 {
    background-image: url("../images/table-11.jpg");
  }

  .pic-54 {
    background-image: url("../images/table-12.jpg");
  }

  .pic-55 {
    background-image: url("../images/table-13.jpg");
  }

  .pic-56 {
    background-image: url("../images/table-14.jpg");
  }

  .pic-57 {
    background-image: url("../images/table-15.jpg");
  }

  .pic-58 {
    background-image: url("../images/table-16.jpg");
  }

  .pic-59 {
    background-image: url("../images/table-17.jpg");
  }

  .pic-60 {
    background-image: url("../images/set-1.jpg");
  }

  .pic-61 {
    background-image: url("../images/set-2.jpg");
  }

  .pic-62 {
    background-image: url("../images/set-3.jpg");
  }

  .pic-63 {
    background-image: url("../images/set-4.jpg");
  }

  .pic-64 {
    background-image: url("../images/set-5.jpg");
  }

  .pic-65 {
    background-image: url("../images/set-6.jpg");
  }

  .pic-66 {
    background-image: url("../images/set-7.jpg");
  }

  .pic-67 {
    background-image: url("../images/set-8.jpg");
  }

  .pic-68 {
    background-image: url("../images/set-9.jpg");
  }

  .pic-69 {
    background-image: url("../images/set-10.jpg");
  }

  .pic-70 {
    background-image: url("../images/set-11.jpg");
  }

  .pic-71 {
    background-image: url("../images/set-12.jpg");
  }

  .pic-72 {
    background-image: url("../images/set-13.jpg");
  }

  .pic-73 {
    background-image: url("../images/set-14.jpg");
  }

  .pic-74 {
    background-image: url("../images/set-15.jpg");
  }

  .pic-75 {
    background-image: url("../images/set-16.jpg");
  }

  .pic-76 {
    background-image: url("../images/set-17.jpg");
  }

  .old-price {
    text-decoration: line-through;
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
        @extend .far;
        @extend .fa-star;

        &.full {
          @extend .fas;
        }
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// .dots {
//   ul {
//     margin: 0;
//     padding: 0 0 0 1rem;
//     list-style: none;
//     background-color: #ffffff;
//     transform: translateY(15px);

//     li {
//       display: inline-block;
//       margin-left: 0.5rem;

//       a {
//         display: block;
//         width: 13px;
//         height: 13px;
//         border-radius: 6px;
//         background-color: #e1e1e1;

//         &.active,
//         &:hover {
//           background-color: $primary;
//         }
//       }
//     }
//   }
// }
