.section--feedback {
  padding: 5rem 0;
}

.feedback-title {
  position: relative;
  margin-bottom: 15px;

  .row {
    border-bottom: 4px solid #e2e2e2;
  }

  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    border-bottom: 4px solid $primary;
  }
}

.heading {
  position: relative;

  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 45px;
    border-bottom: 4px solid $primary;
  }
}
.dots {
  .dotAll {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    background-color: #ffffff;
    transform: translateY(10px);
    .dot {
      display: inline-block;
      margin-left: 12px;
      border: none;
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 6px;
      padding: 0;
      outline: none;
      cursor: pointer;
      .dot.is-selected {
        opacity: 1;
        background-color: $primary;
      }
      &:active,
      &:hover {
        background-color: $primary;
      }
    }
  }
}

.feedback-content {
  padding: 20px;
  margin: 10px;

  .feedback-quote-img {
    width: 100%;
    text-align: center;
    padding: 10px;

    img {
      height: 56px;
      width: 56px;
    }
  }

  .quote-text {
    font-size: 14px;
    line-height: 24px;
    color: #676767;
    text-align: center;

    .feedback-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .feedback-profile-text {
        flex-direction: column;
      }
    }
  }
}

.carousel-cell {
  width: 100%;
  height: auto;
}
